*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{ /*    Definições de background e imagem*/
    background-image: url(logo-volus.png);
    background-color: #292929;
    background-repeat: no-repeat;
    background-position: 50% -20%;
    background-size: 30%;
    
}
#geral{ /*  Conteiner geral que engloba todo o form*/
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
form{   /*  Fórmulario*/
    background-color: #00000081;
    max-width: 510px;
    height: 26vh;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    color: whitesmoke;
    border-radius: 3px;    
    border: groove #75c96e;
}
fieldset{   
    margin: 0;
    max-width: 500px;
    border: none;
}
legend{
    font-size: 25px;
    text-align: center;
}
.conteiner-1{   /*  Conteiner para gerar ul flexbox resposivo*/
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin: 2px auto;
    
}
.conteiner-2{   /* Conteiner com label*/
    flex-grow: 0.1;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    margin-left: 0;
    
}
.conteiner-3{   /* Conteiner com os inputs*/
    flex-grow: 2;

}
#listaCidades{
    width: 100%;
    height: 3vh;
    font-size: 15px;
}
input {
    width: 100%;
    height: 3vh;
    margin: 5px auto;
    float: right;
    outline: none;
    border-radius: 2px;
    border-style: none;
    text-transform: uppercase;
    font-size: 15px;
}

#botao-enviar{  /*  Conteirner com id para configuração diferenciada nas classes*/
    justify-content: center;
    align-content: center;
    display: -webkit-flex;
    
}
button{
    width: 30%;
    height: 4vh;
    margin: 7px auto;
    background-color: #75c96e;
    border-radius: 3px;
    border-style: none;
    outline: none;
}
button:hover{
    background-color: #404545;
    border-radius: 3px;
    border: groove #75c96e;
    border-width: 1px;
    color: whitesmoke;
    font-weight: bold;
}
@media(max-width: 650px){
    body{
        /*background-position: 50% -80%;*/
        background-size: 60%;
    }
    #geral{
        width: 70%;
    }
    form{
        height: 32vh;
    }
    input{
        width: 95%;
    }
}
@media(max-width: 420px){
    form{ 
        height: 50vh;
        padding: 2px;
        margin: 0;
    }
    .conteiner-1{
        display: block;
    }
    .conteiner-2,
    .conteiner-3{
        width: 90%;
        display: -webkit-flex;
        align-items: center;
        justify-content: flex-start;
        padding: 2px;
    }
    #botao-enviar{
        height: 10vh;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
    }
    legend{
        font-size: 18px;

    }
    input[type="date"]{
        width: 95%;  
    }
    #listaCidades{
        width: 95%;
        height: 4vh;
    }
}
@media print {
    label,
    button{
        display: none;
    }
}